.container {
    height: 103vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    background: #f0f2f5;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #ddd;
    width: 40%;
    height: 40vh;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
}

.form-title-container {
    text-align: center;
    margin-bottom: 20px;
}

.form-title-container h1 {
    font-size: 24px;
    color: #333;
}

.form-inputs-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.form-inputs-container input {
    width: 80%;
    height: 45px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.form-inputs-container input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.form-button-login-container {
    display: flex;
    margin-top: 30px;
    gap: 20px;
    justify-content: center;
}

button {
    height: 45px;
    width: 160px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
}

.btn-primary {
    background-color: #007bff;
    color: white;
    font-weight: 900;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-secondary {
    background-color: #6c757d;
    border: none;
    color: white;
}

.btn-secondary:hover {
    background-color: #565e64;
}

#login{
    font-family: "Kanit", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 50px;
    margin: 0%;
    padding: 0%;
    color: white;
    -webkit-text-stroke: 2px blue;
}

.input-error{
    border-color: red;
}

.error-message{
    text-align: center;
    color: red;
    margin-top: 5px;
}