.profile-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1000;
    font-family: Arial, sans-serif;
}

.profile-card img {
    border-radius: 50%;
    margin-bottom: 20px;
}

.header-top{
    margin: 0%;
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
}

.profile-card button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    margin-top: 10px;
}

.profile-card button:hover {
    background-color: #0056b3;
}

.profile-card #logout{
    background-color: #ff1100;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    margin-top: 10px;
}

.profile-card #logout:hover {
    background-color: #b40606;
}

.trocar-senha{
    transition: 0.5s ease;
}

.trocar-senha:hover{
    font-weight: 600;
}